<section class="col_8 col align_left"> 
    Content &copy; <a href="http://tanepiper.com">Tane Piper</a>.
    <!--Grass header by <a href="http://twitter.com/hyperandroid">@hyperandroid</a>.-->
</section> 
<section class="col_8 col align_right"> 
    Built with <a href="http://nodejs.org">node.js</a> |
    <a href="http://express.davglass.com">expressjs + YUI</a> |
    <a href="http://www.52framework.com">52Framework</a>
    and lots of Caffine
</section> 
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18615542-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
