<div id="content-left" class="content col_8 col">
    <article>
        <h1>The Pitch...</h1>
        <p>I'm Tane Piper - a 6+ year commercial web &amp; application developer
        currently living in Edinburgh, Scotland.</p>
        <p>I am currently employed with a new startup in the business continuty
        sector, developing a web application using ExtJS.</p>
        <p>
        As a commercial developer - with both freelance and development
        studio work - I have created software, built website and provided
        consultancy for clients such as:</p>
        <ul>
            <li><a href="http://www.edintattoo.co.uk/">Edinburgh Tattoo</a></li>
            <li><a href="http://www.rehis.com/">REHIS</a></li>
            <li><a href="http://www.rcgp.org.uk/">RCGP</a></li>
            <li><a href="http://www.serebra.com/">Serebra Learning Corporation
            </a></li>
            <li><a href="http://www.zetatype.com/">Zeta</a></li>
        </ul>
        <p>Applications have included content-driven websites, Android applications
        and Adobe AIR desktop applications.</p>
        <p>
        Over the years I have also worked on several open source projects
        as well such as <a href="http://github.com/tanepiper/jmaps">jMaps</a>,
        <a href="http://bitbucket.org/digitalspaghetti/hgfront">Mercurial
        Frontend (hgfront)</a> - a forerunner to Bitbucket.
        </p>
        <p>I've been programing since the days of BASIC on my ZX Spectrum 48k.
        My current core skills are with JavaScript, PHP and Python.</p>
        <p>In June 2011 I will be moving to Toronto.</p>
        
        
    </article>
</div>
<div id="content-right" class="content col_7 col">
    <article>
        <h1>Widgets n' Stuff</h1>
        <script src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
        new TWTR.Widget({
          version: 2,
          type: 'profile',
          rpp: 6,
          interval: 10000,
          width: 250,
          height: 300,
          theme: {
            shell: {
              background: '#333333',
              color: '#ffffff'
            },
            tweets: {
              background: '#000000',
              color: '#ffffff',
              links: '#4aed05'
            }
          },
          features: {
            scrollbar: false,
            loop: false,
            live: true,
            hashtags: true,
            timestamp: true,
            avatars: true,
            behavior: 'all'
          }
        }).render().setUser('tanepiper').start();
        </script> 
    </article>
</div>
