<div id="wrapper" class="row"> 
    <header> 
        <div class="logo left">
            <h1><a href="/">{title}</a></h1>
        </div> 
        
        <div class="statement right">
            <p style="text-align:right; margin:0;">Build with</p>
            <a href="http://nodejs.org"><img src="/images/nodejs.png" /></a>
        </div> 
        
        <div class="clear"></div> 
        <img id="headercanvas" src="/images/top.jpg">
        
        <div class="clear"></div>         
        <nav> 
        	<ul> 
            	<li><a href="/" class="nav-home">Home</a></li> 
                <li><a href="/blog" class="nav-blog">Blog</a></li> 
                <li><a href="/twitter" class="nav-twitter">Twitter</a></li> 
                <li><a href="http://uk.linkedin.com/in/tanepiper" class="nav-linkedin">Linked In</a></li> 
                <li><a href="http://github.com/tanepiper" class="nav-github">Github</a></li> 
                <!--<li><a href="/contact" class="nav-contact">Contact</a></li>-->
            </ul> 
        </nav> 
    </header> 
    <div class="clear"></div> 
    <div id="content" class="col_16 col"></div>
    
    <div class="clear" style="height:10px; border-bottom:1px solid #ccc;"></div> 
</div>
<footer class="row"></footer> 
